<div class="page" data-name="about">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">About</div>
    </div>
  </div>
  <div class="page-content">
      <div class="block-header">A mini-encyclopedia of Superheroes and Villians from all universes</div>

      <div class="block-title">Version</div>
      <div class="block">1.0.0</div>

      <div class="block-title">License</div>
      <div class="block">GNU Affero GPL v3.0 or later</div>

      <div class="block-title">Author</div>
      <div class="block">
          Valéry Febvre<br/>
          Made with &hearts; for Anaé, Léia & Simon
      </div>

      <div class="block-title">Libraries, Framework and Data</div>
      <div class="block">
          <div class="row">
              <div class="col">HTML5 mobile Framework</div>
              <div class="col"><a href="https://framework7.io/" class="external" target="_blank" rel="noopener">Framework7</a></div>
          </div>
          <div class="row">
              <div class="col">Data</div>
              <div class="col"><a href="https://www.superherodb.com/" class="external" target="_blank" rel="noopener">Superhero Database</a></div>
          </div>
          <div class="row">
              <div class="col">Utility</div>
              <div class="col"><a href="https://lodash.com/" class="external" target="_blank" rel="noopener">Lodash</a></div>
          </div>
      </div>

      <div class="block-title">Artwork</div>
      <div class="block">
          <div class="row">
              <div class="col">Icon</div>
              <div class="col"><a href="http://www.frankparadiso.it/" class="external" target="_blank" rel="noopener">Francesco Paradiso</a></div>
          </div>
      </div>

      <div class="block-title">Contribute</div>
      <div class="block">
          <div class="list no-hearlines no-hairlines-between no-margin-top">
              <ul>
                  <li>
                      <a href="https://gitlab.com/valos/superhero/issues" class="item-link list-button external" target="_blank" rel="noopener">
                        <i class="icon material-icons">bug_report</i> Report a bug
                      </a>
                  </li>
                  <li>
                      <a href="https://gitlab.com/valos/superhero" class="item-link list-button external" target="_blank" rel="noopener">
                          <i class="icon material-icons">code</i> Source code
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
