<template>
    <div class="page" data-name="character">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back icon-only">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title no-margin-left">{{character.name}}</div>
            </div>
        </div>

        <div class="toolbar tabbar toolbar-bottom-md">
            <div class="toolbar-inner">
                <a class="link" id="btn-prev" @click="prev"><i class="icon icon-prev"></i></a>
                <a class="link" id="btn-next" @click="next"><i class="icon icon-next"></i></a>
            </div>
        </div>

        <div class="page-content">
            <div class="block no-margin-bottom">
                <div class="row">
                    <div class="col-50"><img width="160" src="data/images/{{character.id}}.jpg" /></div>
                    <div class="col-50">
                        <dl>
                            <dt>Full name</dt>
                            <dd>{{js "this.character.biography.full_name || '-'"}}</dd>
                            <dt>Creator</dt>
                            <dd>{{js "this.character.biography.creator || '-'"}}</dd>
                            <dt>Strength level</dt>
                            <dd>{{character.strength_level.value}} {{js "this.character.strength_level.unit ? this.character.strength_level.unit : ''"}}</dd>
                        </dl>

                        <a href="https://www.superherodb.com/character/10-{{character.id}}/history/" class="button button-small button-fill external" target="_blank" rel="noopener" style="margin-top: 10px">History SHDb</a>
                        <a href="https://fr.m.wikipedia.org/wiki/{{character.name}}" class="button button-small button-fill external" target="_blank" rel="noopener" style="margin-top: 10px">Wikipedia</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Powers</div>
                <div class="card-content card-content-padding">
                    <ul style="list-style: none; margin: 0; padding: 0">
                    {{#each character.powers}}
                        <li>{{this}}</li>
                    {{/each}}
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Biography</div>
                <div class="card-content card-content-padding">
                    <dl>
                        <dt>Alter egos</dt>
                        <dd>{{js "this.character.biography.alter_egos || '-'"}}</dd>
                        <dt>Aliases</dt>
                        <dd>{{js "this.character.biography.aliases || '-'"}}</dd>
                        <dt>Place of birth</dt>
                        <dd>{{js "this.character.biography.place_of_birth || '-'"}}</dd>
                        <dt>First appearance</dt>
                        <dd>{{js "this.character.biography.first_appearance || '-'"}}</dd>
                        <dt>Alignment</dt>
                        <dd>{{js "this.character.biography.alignment || '-'"}}</dd>
                    </dl>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Appearence</div>
                <div class="card-content card-content-padding">
                    <dl>
                        <dt>Gender</dt>
                        <dd>{{js "this.character.appearance.gender || '-'"}}</dd>
                        <dt>Race</dt>
                        <dd>{{js "this.character.appearance.race || '-'"}}</dd>
                        <dt>Height</dt>
                        <dd>{{#if character.appearance.height}}{{character.appearance.height.value}} {{character.appearance.height.unit}}{{else}}-{{/if}}</dd>
                        <dt>Weight</dt>
                        <dd>{{#if character.appearance.weight}}{{character.appearance.weight.value}} {{character.appearance.weight.unit}}{{else}}-{{/if}}</dd>
                        <dt>Eye color</dt>
                        <dd>{{js "this.character.appearance.eye_color || '-'"}}</dd>
                        <dt>Skin color</dt>
                        <dd>{{js "this.character.appearance.skin_color || '-'"}}</dd>
                    </dl>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Work</div>
                <div class="card-content card-content-padding">
                    <dl>
                        <dt>Base</dt>
                        <dd>{{js "this.character.work.base || '-'"}}</dd>
                        <dt>Occupation</dt>
                        <dd>{{js "this.character.work.occupation || '-'"}}</dd>
                    </dl>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Connections</div>
                <div class="card-content card-content-padding">
                    <dl>
                        <dt>Teams</dt>
                        <dd>{{js "this.character.connections.teams || '-'"}}</dd>
                        <dt>Relatives</dt>
                        <dd>{{js "this.character.connections.relatives || '-'"}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
dl {
    margin: 0;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0;
}
.progressbar {
    margin-bottom: 5px;
}
</style>
<script>
return {
  // Component Data
  data: function () {
    // console.log(superhereos[this.$route.params.id]);
    return {
      character: superhereos[this.$route.params.id]
    };
  },
  // Component Methods
  methods: {
    next: function(e) {
      var next = this.ids[this.ids.indexOf(this.character.id) + 1];

      this.$app.views.current.router.navigate('/character/' + next + '/', {
        context: {
          ids: this.ids
        },
        reloadCurrent: true
      });
    },
    prev: function(e) {
      var prev = this.ids[this.ids.indexOf(this.character.id) - 1];

      this.$app.views.current.router.navigate('/character/' + prev + '/', {
        context: {
          ids: this.ids
        },
        reloadCurrent: true
      });
    }
  },
  // Page Events
  on: {
    pageMounted: function() {
    },
    pageInit: function(e, page) {
      if (!this.ids) {
        // In case of a page reload, no context is provided
        this.ids = _.map(superhereos, 'id');
      }
      var index = this.ids.indexOf(this.character.id) ;

      if (index == 0) {
        $$('#btn-prev').css('visibility', 'hidden');
      }
      if (index == this.ids.length - 1) {
        $$('#btn-next').css('visibility', 'hidden');
      }
    },
    pageAfterIn: function() {
      // show/hide toolbar
      if (this.ids.length === 1) {
        this.$app.toolbar.hide('div.toolbar.tabbar', false);
      }
      else {
        this.$app.toolbar.show('div.toolbar.tabbar', false);
      }
    },
    pageBeforeOut: function(e, page) {
    }
  }
}
</script>
