<template>
    <div class="page" data-name="home">
        <div class="navbar">
          <div class="navbar-inner sliding">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link icon-only panel-open" data-panel="left">
                        <i class="icon material-icons md-only">menu</i>
                        <i class="icon f7-icons ios-only">menu</i>
                    </a>
                </div>
                <div class="title">Superhero</div>
            </div>

            <div class="subnavbar">
              <form data-search-container=".virtual-list" data-search-item="li" data-search-in=".item-title" class="searchbar searchbar-init">
                <div class="searchbar-inner">
                  <div class="searchbar-input-wrap">
                    <input type="search" placeholder="Search"/>
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                  </div>
                  <span class="searchbar-disable-button">Cancel</span>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="searchbar-backdrop"></div>

        <div class="fab fab-extended fab-right-bottom color-blue">
          <a href="#" @click="randomCharacter">
            <i class="icon f7-icons ios-only">add</i>
            <i class="icon material-icons md-only">toys</i>
          </a>
        </div>

        <div class="page-content">
            <div class="list virtual-list media-list no-margin-top"></div>
        </div>
    </div>
</template>

<style>
</style>

<script>
return {
  methods: {
    initList: function() {
      var self = this;
      var currentIndex;

      this.virtualList = this.$app.virtualList.create({
        el: '.virtual-list',
        items: _.sortBy(superhereos, 'name'),
        updatableScroll: false,
        searchAll: function(query, items) {
          // Array with matched indexes
          var found = [];
          query = query.toLowerCase();

          for (var i = 0; i < items.length; i++) {
            if (items[i].name.toLowerCase().indexOf(query) >= 0 || items[i].biography.creator.toLowerCase().indexOf(query) >= 0 || query.trim() === '') {
              found.push(i);
            }
          }

          return found;
        },
        itemTemplate: '<li>' +
          '<a href="#" data-id="{{id}}" class="item-link item-content">' +
            '<div class="item-media"><img src="data/images/{{id}}.jpg" width="45" /></div>' +
            '<div class="item-inner">' +
              '<div class="item-title-row">' +
                '<div class="item-title">{{name}}</div>' +
                '<div class="item-after">' +
                  '{{#js_if "this.biography.alignment == \'good\'"}}' +
                  '<span class="badge color-green">G</span>' +
                  '{{else}}' +
                  '{{#js_if "this.biography.alignment == \'bad\'"}}' +
                  '<span class="badge color-red">B</span>' +
                  '{{else}}' +
                  '{{#js_if "this.biography.alignment == \'neutral\'"}}' +
                  '<span class="badge">N</span>' +
                  '{{/js_if}}' +
                  '{{/js_if}}' +
                  '{{/js_if}}' +
                '</div>' +
              '</div>' +
              '<div class="item-subtitle">{{biography.creator}}</div>' +
              '<div class="item-text">{{biography.full_name}}</div>' +
            '</div>' +
          '</a>' +
        '</li>',
        height: this.$app.theme === 'ios' ? 63 : 73
      });
    },
    randomCharacter: function(e) {
        var items = this.virtualList.filteredItems ? this.virtualList.filteredItems : this.virtualList.items;
        var ids = _.shuffle(_.map(items, 'id'));
        this.$app.views.current.router.navigate('/character/' + ids[0] + '/', {
          context: {
            ids: ids
          }
        });

    }
  },
  on: {
    pageMounted: function() {
      var self = this;

      $$(this.el).on('click', '.virtual-list li', function(e) {
        var id = $$(e.target).closest('a').data('id');
        var items = self.virtualList.filteredItems ? self.virtualList.filteredItems : self.virtualList.items;
        var ids = _.map(items, 'id');
        self.$app.views.current.router.navigate('/character/' + id + '/', {
          context: {
            ids: ids
          }
        });
      });
      // this.$app.preloader.show('blue');
    },
    pageInit: function(e, page) {
      this.initList();
    },
    pageAfterIn: function() {
      // this.$app.preloader.hide();
    },
    pageBeforeOut: function(e, page) {
    }
  }
}
</script>
